/* grid styling */
polygon {
  transition: 0.4s;
  cursor: pointer;
}
.pod-wrap a:hover {
  fill-opacity:0.6;
}

.pod-wrap a:hover text {
  fill-opacity:1;
}

svg a:hover {
  text-decoration: none;
}

.blockContent span, nav a {
  display: block;
}